/.venv
/venv
/myvenv
/venvfiles
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
.DS_Store
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
coverage.xml
nosetests.xml
pytest_cache/
.pyre/
.mypy_cache/
.pytype/
.pyright/
.pytest_cache/
.ipynb_checkpoints/
.ipynb_checkpoints/
.cache/
.pyenv/
.pyenv/
celerybeat-schedule
instance/
/venvfile